<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>DuoSystem</name>
    <description>
        Soluções customizadas para gestão em saúde
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        DuoSystem Team
    </author>
	
    <content src="index.html" />
    <access origin="*" />
    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>
    <plugin name="cordova-plugin-inappbrowser" spec="~2.0.1" />
    <engine name="browser" spec="~5.0.3" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.1" />
	
	<platform name="android">
		<!-- you can use any density that exists in the Android project -->

        <icon src="www/res/icon/android/duosystem-ldpi.png" density="ldpi" />
        <icon src="www/res/icon/android/duosystem-mdpi.png" density="mdpi" />
        <icon src="www/res/icon/android/duosystem-hdpi.png" density="hdpi" />
        <icon src="www/res/icon/android/duosystem-xhdpi.png" density="xhdpi" />
        <icon src="www/res/icon/android/duosystem-xxhdpi.png" density="xxhdpi" />
        <icon src="www/res/icon/android/duosystem-xxxhdpi.png" density="xxxhdpi" />
	</platform>


	<!-- Configuration using image size: -->
	<!--<platform name="windows">
		<splash src="res/screen/windows/splashscreen.png" width="620" height="300"/>
		<splash src="res/screen/windows/splashscreenphone.png" width="1152" height="1920"/>
	</platform>-->


</widget>
